__pycache__/
*.pyc
*.exe
*.csv
**/*.pyc
build/
dist/
debug.sr
debug.log
*.tmp
*.txt
*.proxy
*.proxies
srcs/helheim/
*.sr
configuration.json
e.json
.vscode/settings.json
deployment/versions/configuration.json
